# Minio & Global
EXTERNAL_IP=
EXTERNAL_MINIO_PORT=49000
EXTERNAL_MINIO_CONSOLE_PORT=49001
MINIO_ROOT_USER=minioadmin
MINIO_ROOT_PASSWORD=minioadmin


# Z-Image
Z_IMAGE_MINIO_BUCKET_NAME=zimage
Z_IMAGE_MCP_TRANSPORT=sse
Z_IMAGE_GPU_DEVICE_ID=0
Z_IMAGE_PORT=48001