# Image Output을 위한 Minio 외부 IP + Port
MINIO_EXTERNAL_ENDPOINT=http://ip:9000

# Minio 통신을 위한 Internal IP + Port
MINIO_ENDPOINT=http://mcp-minio:9000
MINIO_ACCESS_KEY=minioadmin
MINIO_SECRET_KEY=minioadmin
MINIO_BUCKET_NAME=zimage

# mcp protocol ( streamable-http | sse )
MCP_TRANSPORT=sse

# host serving을 위한 mcp 서버 포트 설정
INTERNAL_PORT=48001